<!-- index.html -->
<!DOCTYPE html>
<html ng-app="app">

<head>
    <!-- load bootstrap and fontawesome via CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

    <style type="text/css">
    .nav,
    .pagination,
    .carousel,
    .panel-title a,
    a[href] {
        cursor: pointer;
    }
    .track-nodes {} .track-node .progress {
        height: 4px;
        margin-bottom: 0px;
    }
    .track-error.fa-exclamation-triangle {
        color: red;
    }
    .modal .modal-body {
        max-height: 420px;
        overflow-y: auto;
    }
    .popover {
        max-width: none;
    }
    .popover-content {
        word-wrap: break-word;
    }
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body ng-controller="MainController as mainCt" ng-clock>
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-paw fa-4"></i> Jaguar XRay
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <form class="navbar-form">

                        <div class="form-group" style="display:inline;">

                            <div class="input-group" style="display:table;">

                                <span class="input-group-addon" style="width:1%;">
                                    <i class="fa fa-link fa-1"></i>
                                </span>

                                <input type="text" class="form-control" id="appurl" placeholder="Application URL" ng-model="mainCt.appUrl">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" ng-click="mainCt.change()">
                                        <i class="fa fa-plug fa-1"></i> Connect
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div class="container">

        <tabset ng-if="mainCt.executions">

            <tab>
                <tab-heading>
                    <i class="fa fa-server fa-1"></i>
                    <span>
                        Executions
                    </span>
                </tab-heading>
                <div>

                    <h3>Application Executions</h3>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">
                                        <i class="fa fa-filter fa-1"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="mainCt.query" placeholder="URI Filter" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right" ng-click="mainCt.update()">
                                    <i class="fa fa-refresh fa-1"></i> Update
                                </button>
                                <button type="submit" class="btn btn-default pull-right" ng-click="mainCt.clear()">
                                    <i class="fa fa-eraser fa-1"></i> Clear
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-condensed table-hover ">
                                <thead>
                                    <tr>
                                        <th>Execution ID</th>
                                        <th>Info</th>
                                        <th>Time Start</th>
                                        <th>Duration</th>
                                        <th>Nodes</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="exec in mainCt.executions | filter: {info:mainCt.query}">
                                        <th scope="row">{{exec.executionId}}</th>
                                        <td>
                                            <i class="track-error fa fa-exclamation-triangle" ng-if="exec.error" tooltip="{{exec.errorMessage}}"></i> {{exec.info}}
                                        </td>
                                        <td>{{exec.timeStart | date:'dd/MM HH:mm:ss (sss)'}}</td>
                                        <td>{{exec.duration}}</td>
                                        <td>{{exec.nodeCount}}</td>
                                        <td>
                                            <button class="btn btn-xs btn-info" ng-click="mainCt.addTab(exec)">
                                                <i class="fa fa-tasks fa-1"></i> Stack
                                            </button>
                                            <button class="btn btn-xs btn-warning" ng-click="mainCt.openModal(exec)">
                                                <i class="fa fa-plus-square fa-1"></i> Detail
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>

            <tab ng-repeat="execution in mainCt.tabs" active="execution.active">
                <tab-heading>
                    <i class="fa fa-tasks fa-1"></i>
                    <span>
                        {{execution.executionId}}
                    </span>
                    <a ng-click="mainCt.removeTab($index)">
                        <i class="fa fa-times fa-1"></i>
                    </a>
                </tab-heading>

                <h3>({{execution.duration}} ms) - {{execution.info}}</h3>

                <track-nodes execution="execution" expanded="true"></track-nodes>

            </tab>
        </tabset>

    </div>

    <script type="text/ng-template" id="NodesModalTemplate">
        <div class="modal-header">
            <h3 class="modal-title">Children</h3>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-condensed table-hover ">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Info</th>
                        <th>Time Start</th>
                        <th>Duration</th>
                        <th>Children</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in nodes">
                        <th scope="row">{{node.index}}</th>
                        <td>
                            <i class="track-error fa fa-exclamation-triangle" ng-if="node.error"></i> {{node.info | limitTo:-60}}
                        </td>
                        <td>{{node.timeStart | date:'dd/MM HH:mm:ss (sss)'}}</td>
                        <td>{{node.duration}}</td>
                        <td>{{node.nodeCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="close()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="JsonModalTemplate">
        <div class="modal-header">
            <h3 class="modal-title">Detail</h3>
        </div>
        <div class="modal-body">
            <pre>{{object | json}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="close()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="TrackNodesTemplate">
        <div class="track-nodes">
            <div>

                <a ng-click="toggle()">
                    <i class="fa fa-1" ng-class="{'fa-minus-circle':expanded,'fa-plus-circle':!expanded}"></i>
                </a>

                <span ng-if="nodes"> [ {{nodes.length}} children ] </span>

                <a ng-if="nodes" ng-click="listChildren()">
                    <i class="fa fa-external-link-square fa-1"></i>
                </a>

            </div>
            <ul ng-if="nodes" ng-show="expanded">
                <li ng-repeat="node in nodes | trackDuration: 1">
                    <track-node execution="execution" parent="parent" node="node"></track-node>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="TrackNodeTemplate">
        <div class="track-node">

            <i class="track-error fa fa-exclamation-triangle" ng-if="node.error" tooltip="{{node.errorMessage}}"></i>

            <span>({{node.duration}} ms - {{percent()}}%) - {{node.info}}</span>

            <div class="progress">
                <div class="progress-bar progress-bar-{{progressType()}}" style="width: {{percent()}}%">
                    <span class="sr-only">{{percent()}} %</span>
                </div>
            </div>

        </div>
    </script>

    <script>
    // create the module and name it scotchApp
    var app = angular.module('app', ['ui.bootstrap']);

    app.factory('appConfig', function() {

        function parseUrl(url) {
            var parts = /(http[s]?:\/\/[^\/]+)(\/[^\/]+).*/.exec(url);
            if (parts) {
                return parts[1] + parts[2];
            }
            return '';
        }

        var appUrl = parseUrl(window.location.href);
        var minDuration = 1;

        return {

            setAppUrl: function(url) {
                appUrl = parseUrl(url);
            },
            setMinDuration: function(min) {
                minDuration = min || 0;
            },

            getAppUrl: function() {
                return appUrl;
            },
            getMinDuration: function() {
                return minDuration;
            }
        };
    });

    app.service('trackService', function($q, $http, appConfig) {

        return {

            _get: function(action, params, cached) {

                var d = $q.defer();

                $http.get(appConfig.getAppUrl() + '/jaguarxray/' + action, {
                    cache: cached ? true : false,
                    params: params
                }).success(d.resolve).error(d.reject);

                return d.promise;
            },

            clear: function() {
                return this._get('clear');
            },

            list: function() {
                return this._get('list', null);
            },

            nodes: function(id) {
                return this._get('nodes', {
                    id: id
                }, true);
            },

            children: function(id, parent) {

                var d = $q.defer();

                this.nodes(id).then(function(nodes) {

                    var array = [];
                    angular.forEach(nodes, function(node) {
                        if (node.parentIndex == parent) {
                            array.push(node);
                        }
                    });
                    d.resolve(array);

                }, d.reject);

                return d.promise;
            }
        };
    });

    app.filter('trackDuration', function(appConfig) {
        return function(nodes) {
            var array = [];
            var min = appConfig.getMinDuration();
            angular.forEach(nodes, function(node) {
                if (node.duration >= min) {
                    array.push(node);
                }
            });
            return array;
        };
    });

    // create the controller and inject Angular's $scope
    app.controller('JsonModalController', function($scope, $modalInstance, object) {

        $scope.object = object;

        $scope.close = function() {
            $modalInstance.dismiss('close');
        };
    });

    // create the controller and inject Angular's $scope
    app.controller('NodesModalController', function($scope, $modalInstance, trackService, id, parent) {

        $scope.nodes = [];

        trackService
            .children(id, parent)
            .then(function(nodes) {
                $scope.nodes = nodes;
            });

        $scope.close = function() {
            $modalInstance.dismiss('close');
        };
    });

    // create the controller and inject Angular's $scope
    app.controller('MainController', function($modal, appConfig, trackService) {

        this.appUrl = appConfig.getAppUrl();
        this.query = '';

        this.tabs = [];

        this.change = function() {
            if (this.appUrl) {

                appConfig.setAppUrl(this.appUrl);

                this.appUrl = appConfig.getAppUrl();

                this.update();
            }
        };

        this.update = function() {
            if (this.appUrl) {
                trackService
                    .list()
                    .then(angular.bind(this, function(executions) {
                        this.executions = executions ? executions.reverse() : [];
                    }));
            }
        };

        this.clear = function() {
            trackService
                .clear()
                .then(angular.bind(this, function() {
                    this.executions = [];
                }));
        };

        this.addTab = function(execution) {
            if (this.tabs.indexOf(execution) == -1) {

                execution.active = true;

                this.tabs.push(execution);
            }
        };

        this.removeTab = function(index) {
            this.tabs.splice(index, 1);
        };

        this.openModal = function(object) {
            $modal.open({
                animation: true,
                controller: 'JsonModalController',
                templateUrl: 'JsonModalTemplate',
                size: 'lg',
                resolve: {
                    object: function() {
                        return object;
                    }
                }
            });
        };

        this.update();
    });



    app.directive('trackNodes', function() {
            return {
                restrict: "E",
                scope: {
                    execution: '=',
                    parent: '=?',
                    expanded: '=?'
                },
                templateUrl: 'TrackNodesTemplate',
                controller: function($scope, $modal, trackService) {

                    function load() {
                        trackService
                            .children($scope.execution.executionId, $scope.parent ? $scope.parent.index : 0)
                            .then(function(nodes) {
                                $scope.nodes = nodes;
                                $scope.expanded = true;
                            });
                    }

                    $scope.nodes = false;

                    $scope.toggle = function() {
                        $scope.expanded = !$scope.expanded;
                        if (!$scope.nodes) {
                            load();
                        }
                    };

                    $scope.listChildren = function() {
                        var id = $scope.execution.executionId;
                        var parent = $scope.parent ? $scope.parent.index : 0;
                        $modal.open({
                            animation: true,
                            controller: 'NodesModalController',
                            templateUrl: 'NodesModalTemplate',
                            size: 'lg',
                            resolve: {
                                id: function() {
                                    return id;
                                },
                                parent: function() {
                                    return parent;
                                }
                            }
                        });
                    }

                    if ($scope.expanded === true) {
                        load();
                    }
                }
            }
        })
        .directive('trackNode', function($compile, appConfig, trackService) {
            return {
                restrict: "E",
                scope: {
                    execution: '=',
                    parent: '=?',
                    node: '='
                },
                templateUrl: 'TrackNodeTemplate',
                link: function(scope, element, attrs) {

                    scope.percent = function() {
                        var total = scope.parent ? scope.parent.duration : scope.execution.duration;
                        return ((scope.node.duration / total) * 100.0).toFixed(2);
                    };

                    scope.progressType = function() {
                        var d = scope.node.duration;
                        if (d > 1000) {
                            return 'danger';
                        }
                        if (d > 500) {
                            return 'warning';
                        }
                        return 'success';
                    };

                    // recursive directives
                    element.append('<track-nodes ng-if="node.nodeCount > 0" execution="execution" parent="node"></track-nodes>');
                    $compile(element.contents())(scope);
                }
            }
        });
    </script>
</body>

</html>
