<!-- index.html -->
<!DOCTYPE html>
<html ng-app="app">

<head>
    <!-- load bootstrap and fontawesome via CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

    <style type="text/css">
    .nav,
    .pagination,
    .carousel,
    .panel-title a,
    a[href] {
        cursor: pointer;
    }
    .track-nodes {} .track-node .progress {
        height: 4px;
        margin-bottom: 0px;
    }
    .track-error.fa-exclamation-triangle {
        color: red;
    }
    </style>
</head>

<body ng-controller="MainController as mainCt">
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <i class="fa fa-paw fa-4"></i> Jaguar App XRay
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div class="container">

        <div class="row">
            <div class="form-group col-xs-offset-2 col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">APP</span>
                    <input type="text" class="form-control" id="appurl" placeholder="URL" ng-model="mainCt.appUrl">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-click="mainCt.change()">
                            <i class="fa fa-refresh fa-1"></i> Change
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <tabset>

            <tab>
                <tab-heading>
                    <i class="fa fa-list fa-1"></i>
                    <span>
                        Executions
                    </span>
                </tab-heading>
                <div>

                    <h3>Filter executions by the URI</h3>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Filter</span>
                                    <input type="text" class="form-control" ng-model="mainCt.query" placeholder="URI" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right" ng-click="mainCt.update()">
                                    <i class="fa fa-refresh fa-1"></i> Update
                                </button>
                                <button type="submit" class="btn btn-default pull-right" ng-click="mainCt.clear()">
                                    <i class="fa fa-eraser fa-1"></i> Clear
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="mainCt.executions">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-condensed table-hover ">
                                <thead>
                                    <tr>
                                        <th>Execution ID</th>
                                        <th>Info</th>
                                        <th>Time Start</th>
                                        <th>Duration</th>
                                        <th>Nodes</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="exec in mainCt.executions | filter: {info:mainCt.query}">
                                        <th scope="row">{{exec.executionId}}</th>
                                        <td>
                                            <i class="track-error fa fa-exclamation-triangle" ng-if="exec.errorCount > 0"></i> {{exec.info}}
                                        </td>
                                        <td>{{exec.timeStart}}</td>
                                        <td>{{exec.duration}}</td>
                                        <td>{{exec.nodeCount}}</td>
                                        <td>
                                            <button class="btn btn-xs btn-info" ng-click="mainCt.addTab(exec)">
                                                <i class="fa fa-stack-overflow fa-1"></i> Stack
                                            </button>
                                            <button class="btn btn-xs btn-warning" ng-click="mainCt.openModal(exec)">
                                                <i class="fa fa-plus-square fa-1"></i> Detail
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>

            <tab ng-repeat="execution in mainCt.tabs" active="execution.active">
                <tab-heading>
                    <i class="fa fa-stack-overflow fa-1"></i>
                    <span>
                        {{execution.executionId}}
                    </span>
                    <a ng-click="mainCt.removeTab($index)">
                        <i class="fa fa-times fa-1"></i>
                    </a>
                </tab-heading>
                <div>
                    <track-nodes execution="execution" expanded="true"></track-nodes>
                </div>
            </tab>
        </tabset>

    </div>

    <script type="text/ng-template" id="JsonModalTemplate">
        <div class="modal-header">
            <h3 class="modal-title">JSON</h3>
        </div>
        <div class="modal-body">
            <pre>{{object | json}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="close()">Fechar</button>
        </div>
    </script>

    <script type="text/ng-template" id="TrackNodesTemplate">
        <div class="track-nodes">
            <div>
                <a ng-click="toggle()">
                    <i class="fa fa-1" ng-class="{'fa-minus':expanded,'fa-plus':!expanded}"></i>
                </a>
            </div>
            <ul ng-if="nodes" ng-show="expanded">
                <li ng-repeat="node in nodes | trackDuration">
                    <track-node execution="execution" parent="parent" node="node"></track-node>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="TrackNodeTemplate">
        <div class="track-node">
            <i class="track-error fa fa-exclamation-triangle" ng-if="hasError()"></i> ({{node.duration}} ms) - {{node.info}}
            <div class="progress">
                <div class="progress-bar progress-bar-{{progressType()}}" style="width: {{percent()}}%">
                    <span class="sr-only">{{percent()}} %</span>
                </div>
            </div>
        </div>
    </script>

    <script>
    // create the module and name it scotchApp
    var app = angular.module('app', ['ngCookies', 'ui.bootstrap']);


    app.factory('appConfig', function($cookieStore) {

        var appUrl = $cookieStore.get('appurl');
        if (!appUrl) {
        	appUrl = window.location.href;
        	appUrl = appUrl.substring(0, appUrl.indexOf('/jaguar-xray'));
        }
        
        var minDuration = 0;

        return {

            setAppUrl: function(url) {
            	if (url) {
            		$cookieStore.put('appurl', url);
            	}
                appUrl = url;
            },
            setMinDuration: function(min) {
                minDuration = min || 0;
            },

            getAppUrl: function() {
                return appUrl;
            },
            getMinDuration: function() {
                return minDuration;
            }
        };
    });

    app.filter('trackDuration', function(appConfig) {
        return function(nodes) {
            var min = appConfig.getMinDuration();
            var array = [];
            angular.forEach(nodes, function(node) {
                if (node.duration >= min) {
                    array.push(node);
                }
            });
            return array;
        };
    });

    app.service('trackService', function($q, $http, appConfig) {

        return {

            _get: function(params, cached) {
                return $http.get(appConfig.getAppUrl() + '/jaguar-xray-viewer', {
                    cache: cached,
                    params: (params || {})
                });
            },

            clear: function() {
                return this._get({
                    clear: true
                }, false);
            },

            all: function() {
                return this._get(null, false);
            },

            get: function(id) {
                return this._get({
                    id: id
                }, true);
            },

            nodes: function(id, parent) {
                return this._get({
                    id: id,
                    parent: parent || 0
                }, true);
            },

            allNodes: function(id) {
                return this._get({
                    id: id,
                    parent: 'all'
                }, true);
            }
        };
    });

    // create the controller and inject Angular's $scope
    app.controller('JsonModalController', function($scope, $modalInstance, object) {

        $scope.object = object;

        $scope.close = function() {
            $modalInstance.dismiss('close');
        };
    });

    // create the controller and inject Angular's $scope
    app.controller('MainController', function($modal, trackService, appConfig) {

        this.appUrl = appConfig.getAppUrl();
        this.query = '';

        this.tabs = [];

        this.change = function() {
        	if (this.appUrl) {
        		
        		appConfig.setAppUrl(this.appUrl);

            	this.update();
        	}
        };

        this.update = function() {
            if (this.appUrl) {
                trackService
                    .all()
                    .success(angular.bind(this, function(executions) {
                        this.executions = executions.reverse();
                    }));
            }
        };

        this.clear = function() {
            trackService
                .clear()
                .success(angular.bind(this, function() {
                    this.executions = [];
                }));
        };

        this.addTab = function(exec) {
            if (this.tabs.indexOf(exec) == -1) {
                trackService
                    .get(exec.executionId)
                    .success(angular.bind(this, function(execution) {

                        execution.active = true;

                        this.tabs.push(execution);
                    }));
            }
        };

        this.removeTab = function(index) {
            this.tabs.splice(index, 1);
        };

        this.openModal = function(object) {
            $modal.open({
                animation: true,
                controller: 'JsonModalController',
                templateUrl: 'JsonModalTemplate',
                size: 'lg',
                resolve: {
                    object: function() {
                        return object;
                    }
                }
            });
        };

        this.update();
    });



    app
        .directive('trackNodes', function() {
            return {
                restrict: "E",
                scope: {
                    execution: '=',
                    parent: '=?',
                    expanded: '=?'
                },
                templateUrl: 'TrackNodesTemplate',
                controller: function($scope, trackService) {

                    function load() {
                        trackService
                            .nodes($scope.execution.executionId, $scope.parent ? $scope.parent.index : 0)
                            .success(function(nodes) {
                                $scope.nodes = nodes;
                                $scope.expanded = true;
                            });
                    }

                    $scope.nodes = false;
                    $scope.toggle = function() {
                        $scope.expanded = !$scope.expanded;
                        if (!$scope.nodes) {
                            load();
                        }
                    };

                    $scope.expanded = $scope.expanded ? true : false;
                    if ($scope.expanded) {
                        load();
                    }
                }
            }
        })
        .directive('trackNode', function($compile, trackService) {
            return {
                restrict: "E",
                scope: {
                    execution: '=',
                    parent: '=?',
                    node: '='
                },
                templateUrl: 'TrackNodeTemplate',
                link: function(scope, element, attrs) {

                    scope.percent = function() {
                        var total = scope.parent ? scope.parent.duration : scope.execution.duration;
                        return ((scope.node.duration / total) * 100.0).toFixed(2);
                    };

                    scope.progressType = function() {
                        var d = scope.node.duration;
                        if (d > 1000) {
                            return 'danger';
                        }
                        if (d > 500) {
                            return 'warning';
                        }
                        return 'success';
                    };

                    scope.hasError = function() {
                        console.log(scope.node.error);
                        return scope.node.error && scope.node.error.length > 0;
                    };

                    // recursive directives
                    element.append('<track-nodes ng-if="node.nodeCount > 0" execution="execution" parent="node"></track-nodes>');
                    $compile(element.contents())(scope);
                }
            }
        });
    </script>
</body>

</html>
